.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000   ;
  padding: 12px 24px;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.1);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
    margin-left: 50px;
    width: 100px;
    height: 100px;
}

.app-name {
  font-size: 1.5rem;
  font-weight: 600;
  background: linear-gradient(90deg, #00bfff, #00ffcc);
  -webkit-text-fill-color: transparent;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info {
  color: #bbb;
  font-size: 0.95rem;
}

.logout-btn {
  background-color: #00bfff;
  border: none;
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #00a3cc;
}
